<header>
  <nav class="nav" aria-label="Main navigation">
    <a href="/" class="nav__brand">{{ site.title }}</a>
    <ul class="nav__list">
      {% for item in site.nav %}
      <li class="nav__item">
        <a
          href="{{ item.url }}"
          class="nav__link{% if page.url == item.url %} nav__link--active{% endif %}"
        >
          {{ item.label }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
